<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>Generated 8 Nametags per page</title>
		<link href="{% static 'css/nametags8.css' %}" type="text/css" rel="stylesheet" />
		<meta name="keywords" content="8 nametags, eight nametags, nametags" />
		<meta name="description" content="Page to generate 8 nametags per page" />
		<meta name="author" content="David Sciacca" />
		<meta name="robots" content="noindex" />
	</head>
	<body>
		<div class="container, topContainer">
			<div class="top, left">
				<p class="firstname">Jill</p>
				<p class="lastname">Jackson</p>
				<p class="position">Web Developer</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
			<div class="top, right">
				<p class="firstname">John</p>
				<p class="lastname">Smith</p>
				<p class="position">IT Manager</p>
				<p class="company">Really Big Company</p>
				<p class="location">Denver, CO</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Lucy</p>
				<p class="lastname">Robertson</p>
				<p class="position">Senior Developer</p>
				<p class="company">Walmart</p>
				<p class="location">Bentonville, AR</p>
			</div>
			<div class="right">
				<p class="firstname">Benjamin</p>
				<p class="lastname">Reyes</p>
				<p class="position">Quality Control Lead</p>
				<p class="company">Quality Is Us!</p>
				<p class="location">Austin, TX</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Ada</p>
				<p class="lastname">Lovelace</p>
				<p class="position">Mathematician</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
			<div class="right">
				<p class="firstname">Bill</p>
				<p class="lastname">Gates</p>
				<p class="position">Computer Programmer</p>
				<p class="company">Microsoft</p>
				<p class="location">Redmond, WA</p>
			</div>
		</div>
		<div class="container">
			<div class="bottom, left">
				<p class="firstname">Corrinne</p>
				<p class="lastname">Yu</p>
				<p class="position">Game Programmer</p>
				<p class="company">Naughty Dog</p>
				<p class="location">Santa Monica, CA</p>
			</div>
			<div class="bottom, right">
				<p class="firstname">Donald</p>
				<p class="lastname">Knuth</p>
				<p class="position">Professor</p>
				<p class="company">Stanford University</p>
				<p class="location">Standford, CA</p>
			</div>
		</div>
		<div class="container, topContainer">
			<div class="top, left">
				<p class="firstname">Audrey</p>
				<p class="lastname">Tang</p>
				<p class="position">Software Programmer</p>
				<p class="company">Pugs Project</p>
				<p class="location">San Jose, CA</p>
			</div>
			<div class="top, right">
				<p class="firstname">Jill2</p>
				<p class="lastname">Jackson</p>
				<p class="position">Web Developer</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">John2</p>
				<p class="lastname">Smith</p>
				<p class="position">IT Manager</p>
				<p class="company">Really Big Company</p>
				<p class="location">Denver, CO</p>
			</div>
			<div class="right">
				<p class="firstname">Lucy2</p>
				<p class="lastname">Robertson</p>
				<p class="position">Senior Developer</p>
				<p class="company">Walmart</p>
				<p class="location">Bentonville, AR</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Benjamin2</p>
				<p class="lastname">Reyes</p>
				<p class="position">Quality Control Lead</p>
				<p class="company">Quality Is Us!</p>
				<p class="location">Austin, TX</p>
			</div>
			<div class="right">
				<p class="firstname">Ada2</p>
				<p class="lastname">Lovelace</p>
				<p class="position">Mathematician</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
		</div>
		<div class="container">
			<div class="bottom, left">
				<p class="firstname">Bill2</p>
				<p class="lastname">Gates</p>
				<p class="position">Computer Programmer</p>
				<p class="company">Microsoft</p>
				<p class="location">Redmond, WA</p>
			</div>
			<div class="bottom, right">
				<p class="firstname">Corrinne2</p>
				<p class="lastname">Yu</p>
				<p class="position">Game Programmer</p>
				<p class="company">Naughty Dog</p>
				<p class="location">Santa Monica, CA</p>
			</div>
		</div>
		<div class="container, topContainer">
			<div class="top, left">
				<p class="firstname">Donald2</p>
				<p class="lastname">Knuth</p>
				<p class="position">Professor</p>
				<p class="company">Stanford University</p>
				<p class="location">Standford, CA</p>
			</div>
			<div class="top, right">
				<p class="firstname">Audrey2</p>
				<p class="lastname">Tang</p>
				<p class="position">Software Programmer</p>
				<p class="company">Pugs Project</p>
				<p class="location">San Jose, CA</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Jill3</p>
				<p class="lastname">Jackson</p>
				<p class="position">Web Developer</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
			<div class="right">
				<p class="firstname">John3</p>
				<p class="lastname">Smith</p>
				<p class="position">IT Manager</p>
				<p class="company">Really Big Company</p>
				<p class="location">Denver, CO</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Lucy3</p>
				<p class="lastname">Robertson</p>
				<p class="position">Senior Developer</p>
				<p class="company">Walmart</p>
				<p class="location">Bentonville, AR</p>
			</div>
			<div class="right">
				<p class="firstname">Benjamin3</p>
				<p class="lastname">Reyes</p>
				<p class="position">Quality Control Lead</p>
				<p class="company">Quality Is Us!</p>
				<p class="location">Austin, TX</p>
			</div>
		</div>
		<div class="container">
			<div class="bottom, left">
				<p class="firstname">Ada3</p>
				<p class="lastname">Lovelace</p>
				<p class="position">Mathematician</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
			<div class="bottom, right">
				<p class="firstname">Bill3</p>
				<p class="lastname">Gates</p>
				<p class="position">Computer Programmer</p>
				<p class="company">Microsoft</p>
				<p class="location">Redmond, WA</p>
			</div>
		</div>
		<div class="container, topContainer">
			<div class="top, left">
				<p class="firstname">Corrinne3</p>
				<p class="lastname">Yu</p>
				<p class="position">Game Programmer</p>
				<p class="company">Naughty Dog</p>
				<p class="location">Santa Monica, CA</p>
			</div>
			<div class="top, right">
				<p class="firstname">Donald3</p>
				<p class="lastname">Knuth</p>
				<p class="position">Professor</p>
				<p class="company">Stanford University</p>
				<p class="location">Standford, CA</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Audrey3</p>
				<p class="lastname">Tang</p>
				<p class="position">Software Programmer</p>
				<p class="company">Pugs Project</p>
				<p class="location">San Jose, CA</p>
			</div>
			<div class="right">
				<p class="firstname">Jill4</p>
				<p class="lastname">Jackson</p>
				<p class="position">Web Developer</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">John4</p>
				<p class="lastname">Smith</p>
				<p class="position">IT Manager</p>
				<p class="company">Really Big Company</p>
				<p class="location">Denver, CO</p>
			</div>
			<div class="right">
				<p class="firstname">Lucy4</p>
				<p class="lastname">Robertson</p>
				<p class="position">Senior Developer</p>
				<p class="company">Walmart</p>
				<p class="location">Bentonville, AR</p>
			</div>
		</div>
		<div class="container">
			<div class="bottom, left">
				<p class="firstname">Benjamin4</p>
				<p class="lastname">Reyes</p>
				<p class="position">Quality Control Lead</p>
				<p class="company">Quality Is Us!</p>
				<p class="location">Austin, TX</p>
			</div>
			<div class="bottom, right">
				<p class="firstname">Ada4</p>
				<p class="lastname">Lovelace</p>
				<p class="position">Mathematician</p>
				<p class="company">Regis University</p>
				<p class="location">Denver, CO</p>
			</div>
		</div>
		<div class="container, topContainer">
			<div class="top, left">
				<p class="firstname">Bill4</p>
				<p class="lastname">Gates</p>
				<p class="position">Computer Programmer</p>
				<p class="company">Microsoft</p>
				<p class="location">Redmond, WA</p>
			</div>
			<div class="top, right">
				<p class="firstname">Corrinne4</p>
				<p class="lastname">Yu</p>
				<p class="position">Game Programmer</p>
				<p class="company">Naughty Dog</p>
				<p class="location">Santa Monica, CA</p>
			</div>
		</div>
		<div class="container">
			<div class="left">
				<p class="firstname">Donald4</p>
				<p class="lastname">Knuth</p>
				<p class="position">Professor</p>
				<p class="company">Stanford University</p>
				<p class="location">Standford, CA</p>
			</div>
			<div class="right">
				<p class="firstname">Audrey4</p>
				<p class="lastname">Tang</p>
				<p class="position">Software Programmer</p>
				<p class="company">Pugs Project</p>
				<p class="location">San Jose, CA</p>
			</div>
		</div>
	</body>
</html>
