<!DOCTYPE html>
<!--    Name: David Sciacca
        Assignment: CS336 Assignment #7 Conference Web Site with Python
        Created: August 4, 2017
        Description: Hardcoded output file for 8 nametags per page   -->
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>8 Nametags per page</title>
        <link href="{% static 'css/nametags8.css' %}" type="text/css" rel="stylesheet" />
        <meta name="keywords" content="8 nametags, eight nametags, nametags" />
        <meta name="description" content="Page to generate 8 nametags per page" />
        <meta name="author" content="David Sciacca" />
        <meta name="robots" content="noindex" />
    </head>
    <body>
        <div class="container, topContainer">
        <div class="top, left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="top, right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="container">
        <div class="left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="container">
        <div class="left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="bottom, container">
        <div class="bottom, left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="bottom, right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="container, topContainer">
        <div class="top, left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="top, right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="container">
        <div class="left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="container">
        <div class="left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
        <div class="bottom, container">
        <div class="bottom, left">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        <div class="bottom, right">
            <p class="firstname">Jill</p>
            <p class="lastname">Smith</p>
            <p class="position">Web Developer</p>
            <p class="company">Regis University</p>
            <p class="location">Denver, CO</p>
        </div>
        </div>
    </body>
</html>
