header{
    text-align: center;
}

h1{
    text-align: center;
}

table {
    text-align: center;
    margin: 20px;
    border: thin groove #222222;
}

td {
    padding: 5px;
}

th {
    border-bottom: double #555555;
    padding: 10px;
}

.name-col{
    width: 100px;
}

.day-col{
    width: 40px;
}

.day1 {
    border-bottom: thin solid #888888;
}

.day1 td{
    border-bottom: thin solid #888888;
}

.session1{
    border-bottom: thin solid #888888;
}

.session1 td{
    border-bottom: thin solid #888888;
}

.even {
    background-color: #efefef; }

.keynote {
    text-align: center;
    float: left;
    width: 50%;
    padding-top: 20px;
}

.menu {
    text-align: center;
    float: left;
    width: 50%;
}

.home{
    text-align: center;
}

#prices{
    text-align: center;
}

label{
    margin: 5px;
}

input{
    margin: 5px;
}

fieldset{
    margin: 5px;
    text-align: left;
}

.submit{
    float: right;
    background-color: #54a7fb;
}

.title{
    float: left;
    width: 160px;
    text-align: right;
}

small{
    font-size: .7em;
}

.disclaimer{
    font-size: .5em;
    text-align: center;
}

ul{
    list-style-type: circle;
    display: block;
}

li{
    margin: 10px 0px 10px 0px;
}

#video{
    width: 100%;
}

#pollLink{
    text-align: center;
}

input:hover {
    background-color: #888888;
    border: thick groove black;
}

input:focus{
    background-color: #888888;
    border: thick groove black;
}

.workshopRestrictions{
    font-size: small;
}

#errorPage{
    background-color: aquamarine;
}

section{
    border: solid thin black;
    padding: 10px;
    margin: 10px;
}
